ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
    font-family: 'Bangers', cursive;
}
p {
    font-family: 'Bangers', cursive;
    font-size: 150%;
    color:white;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

body {
    background-image: url(https://media.wired.com/photos/5926c126af95806129f50868/master/w_2560%2Cc_limit/SuperMarioRunTA.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 60%;
    background-color: black;

  
}

.form1 {
    position: absolute;
    margin-left: 70%;
    color:blue;
    border: groove;
    background-color: red;
    font-family: 'Bangers', cursive;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Bangers', cursive;
}

i {
    color: white;
  
}
